*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}
::selection {
    color: black;
    background: rgb(255, 255, 255);
  }

/* Loadings settings /////////////////////////////*/
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black; /* Gradient background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it stays on top */
}
.spinner {
    border: 8px solid #d2d2d2;
    border-top: 8px solid #5a5858;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
 /* Navigation Settings //////////////////////////*/
 .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 100px;
    padding: 20px 30px;
    position: fixed;
    top: 5px;
    width: 93%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.navbar .logo img {
    height: 40px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 50px;
    transition: background-color 0.3s;
}

.navbar ul li a:hover {
    background-color: white;
    color: black;
}

/* Hide navbar links for smaller screens */
@media (max-width: 768px) {
    .navbar ul {
        display: none;
    }

    .navbar .menu-toggle {
        display: block;
        cursor: pointer;
        font-size: 24px;
        color: white;
        padding: 10px 15px;
    }

    .navbar.active ul {
        display: block;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
        top: 60px;
        right: 20px;
        width: 200px;
        border-radius: 10px;
    }

    .navbar.active ul li {
        margin: 10px 0;
    }

    .navbar.active ul li a {
        color: white;
        padding: 10px 15px;
        display: block;
        text-align: center;
    }
}

/* Hamburger Menu Toggle Icon (for mobile) */
.navbar .menu-toggle {
    display: none;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
    .navbar .logo img {
        height: 30px;
    }

    .navbar ul {
        display: none;
    }

    .navbar .menu-toggle {
        display: block;
    }
}

 /* Page 1 Settings //////////////////////////*/
 .tilted-section {
    background: #000000;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    color: white;
    overflow: hidden;
}

.tilted-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
}

.text-container {
    padding-left: 150px;
    max-width: 760px;
    margin-right: 30px;
}

.text-container h1 {
    font-size: 70px;
    margin-bottom: 20px;
    line-height: 1;
}

.tilted-section img {
    height: 70%;
    width: 70%;
    animation: rot 100s infinite;
}

@keyframes rot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Responsive Adjustments for Tilted Section */
@media (max-width: 1200px) {
    .tilted-section {
        padding: 30px;
    }

    .text-container {
        padding-left: 100px;
        max-width: 600px;
    }

    .text-container h1 {
        font-size: 50px;
    }

    .tilted-section img {
        height: 80%;
        width: 70%;
    }
}

@media (max-width: 768px) {
    .tilted-section {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 0;
        margin-right: 0;
        max-width: 100%;
        padding-bottom: 30px;
    }

    .text-container h1 {
        font-size: 40px;
        line-height: 2.2rem;
    }

    .tilted-section img {
        height: 50%;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .text-container h1 {
        font-size: 30px;
    }

    .tilted-section img {
        height: 80vw;
        width: 80vw;
    }
}
/* Page 1 button Settings //////////////////////////*/
.btn {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 220px;
    min-height: 56px;
    font-family: calibri;
    font-size: 1.2em;
    border-radius: 29px;
    cursor: pointer;
    font-weight: 400;
    position: relative;
    border: 2px solid #ffffff;
    color: rgb(255, 255, 255);
    background-color: transparent;
    overflow: hidden;
    z-index: 1; /* Ensures button text is on top */
}

.btn::before, .btn::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background-color: white;
    transition: all 400ms ease-in;
    z-index: -1; /* Ensures the pseudo-elements are behind the text */
}

.btn:hover {
    color: #000000;
    transition: 0.5s ease color;
}

.btn::before {
    opacity: 0.3;
}

.btn::after {
    transition-delay: 0.3s;
    color: white;
}

.btn:hover::before, .btn:hover::after {
    top: 0;
}

/* page 2 settings////////////////////*/
.page2 {
    position: relative;
    width: 100%;
    height: 50vh; /* Full screen height */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Center the text horizontally */
}

.page2 .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Ensure video is behind the content */
}

.page2 .video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover; /* Ensures the video covers the section */
}

.page2 .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1; /* Content should appear above the video */
    margin: 50px;
    color: white;
}

.page2 .content h1 {
    font-size: 100px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.page2 .content p {
    font-size: 18px;
    margin-bottom: 20px;
}

.page2 .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 0; 
}

.page2 .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
}

@media (max-width: 480px) {
    .page2 .content h1{
        font-size: 80px;
    }
}

/*contect section /////////////////////////////////////////////////////*/
.content-section {
    height: 100vh; /* Adjusted to fit the screen height */
    display: flex;
    align-items: center;
    padding: 0px; /* Reduce the padding to prevent overflow */
    background-color: #f3f3f3;
    box-sizing: border-box; /* Ensure padding is included in width calculations */
    overflow: hidden; /* Prevent any overflow issues */
    flex-direction: row; /* Default flex direction */
}

.content-section img {
    max-width: 100%; /* Fit image within the available space */
    max-height: 100%; /* Ensure it doesn't exceed section height */
    object-fit: cover; /* Maintain aspect ratio and cover the area */
    margin-right: 50px;
}

.text-content {
    max-width: 45%; 
    margin-top: 100px;
}

.text-content h3 {
    font-size: 35px;
    margin-bottom: 10px;
}

.text-content p {
    font-size: 21.5px;
    color: #333;
    margin-bottom: 30px;
}

/* Fixing padding and margins to avoid overflow */
@media (min-width: 1200px) {
    .content-section {
        padding: 50px 5%;
    }
    .text-content {
        margin-top: auto;
    }
}

@media (max-width: 768px) {
    .content-section {
        flex-direction: column;
        padding: 50px 5%;
        height: auto; /* Adjust height for smaller screens */
        text-align: center;
    }
    .content-section img {
        margin-bottom: 30px;
        max-width: 80%;
        height: auto;
    }
    .text-content {
        margin-top: 0;
    }
    .text-content h3 {
        font-size: 28px;
    }
    .text-content p {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .content-section {
        padding: 20px 5%;
    }
    .content-section img {
        max-width: 100%;
        height: auto;
    }
    .text-content {
        max-width: 90%; 
        margin-top: 100px;
    }
    .text-content h3 {
        font-size: 30px;
    }
    .text-content p {
        font-size: 16px;
    }
}

/* Videos //////////////////////////////////////////*/
.video-a {
    width: 100%;
    background-color: #d2d1d1;
    padding: 100px 10vw 190px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.video-a .vi-head {
    color: black;
    padding: 5px 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    border: 1px solid black;
    text-transform: uppercase;
}

.video-a .projects {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    gap: 20px;
}

.video-a .video-container {
    width: 100%;
    max-width: 360px;
    aspect-ratio: 9 / 16; /* Ensures proper aspect ratio */

    position: relative;
    transform: translateY(0); /* Initial transform for scroll animation */
    transition: transform 0.3s ease-out; /* Smooth scroll movement */
}

iframe {
    width: 100%;
    height: 100%;
}

.v1, .v2, .v3 {
    margin-top: 20vh; /* adjust as needed for v1 */
    margin-bottom: 1vh; /* adjust as needed for v2 */
}

.v2 {
    margin-top: -10vh; /* adjust as needed for v3 */
}

.v1, .v2, .v3 {
    transition: transform 0.5s ease-in-out; /* smooth transition for scaling */
}

.v1:hover, .v2:hover, .v3:hover {
    transform: scale(1.06); /* scale up on hover */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .video-a{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .v1, .v2, .v3{
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
    .projects {
        flex-direction: column;
        gap: 10px;
    }

    .video-container {
        max-width: 300px; /* Adjust for smaller screens */
    }
}

/* services Area //////////////////////////*/
.ser{
    color: white;
    height: 100vh;
    width: 100%;
    background-color: #111;
    position: relative;
    padding: 0vw 10.5vw;
    padding-bottom: 8vw;
    display: flex;
    align-items: center;
    border-top: 1px solid #333;
    justify-content: space-between;
}
    .page2-left{
        height: 100%;
        width: 40%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        padding: 3vw 0;
    }
    .page2-left p{
        font-size: 0.8vw;
        line-height: 25px;
    }
    .page2-left h5{
        width: 75%;
        font-weight: 350;
        font-size: 1.1vw;
    }
    .page2-right{
        height: 100%;
        width: 50%;
    }
        .right-elem{
            cursor: pointer;
            position: relative;
            padding-top: 2vw;
            padding-bottom: 5vw;
            border-bottom: 1px solid #333;
        }
            .right-elem h2{
                font-size: 1.4vw;
                font-weight: 400;
            }
            .right-elem img{
                height: 7vw;
                width: 7vw;
                border-radius: 50%;
                object-fit: cover;
                opacity: 0;
                position: absolute;
                scale: 0;
            }

            @media (max-width: 768px) {
                .ser{
                    display: none;
                }
                .page2-right{
                    display: none;                    ;
                }
            }
/* Footer Area //////////////////////////*/         
.footer {
    min-height: 91.5vh;
    padding: 100px 195px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #000000;
    color: #ffffff;
    box-sizing: border-box;
}
    .footer-top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
        padding-top: 20px;
        border-top: 1px solid rgba(255, 255, 255, 0.51);
    }
        .footer-heading {
            font-size: 80px;
            font-weight: bold;
            max-width: 600px;
            line-height: 1;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .footer-contact {
            text-align: left;
        }
        .footer-button {
            background-color: #333;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 20px;
            cursor: pointer;
            margin-bottom: 20px;
        }
        .footer-address {
            font-size: 44px;
            margin-top: 10px;
        }
        .footer-content {
            display: flex;
            justify-content: space-between;
            padding-top: 50px;
        }
        .footer-column {
            flex: 1;
        }
        .footer-column h3 {
            font-size: 14px;
            color: #888;
            margin-bottom: 20px;
        }
        .footer-column ul {
            list-style-type: none;
            padding: 0;
        }
        .footer-column ul li {
            margin-bottom: 10px;
        }
        .footer-social {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
        .social-button {
            background-color: #333;
            color: #fff;
            border: none;
            padding: 5px 15px;
            border-radius: 15px;
            cursor: pointer;
        }
            .social-button {
                background: none;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px 15px;
                border-radius: 15px;
                cursor: pointer;
                font-family: calibri;
                font-size: 1em;
                border-radius: 29px;
                cursor: pointer;
                font-weight: 400;
                position: relative;
                border: 2px solid #999999;
                color: #999999;
                background-color: transparent;
                overflow: hidden;
                z-index: 1; /* Ensures button text is on top */
            }
                .social-button::before, .btn::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: -100%;
                    left: 0;
                    background-color: white;
                    transition: all 400ms ease-in;
                    z-index: -1; /* Ensures the pseudo-elements are behind the text */
                }
                .social-button:hover {
                    color: #ffffff;
                    transition: 0.5s ease color;
                }   
                .social-button::before {
                    opacity: 0.3;
                }    
                .social-button::after {
                    transition-delay: 0.3s;
                    color: white;
                }
                .social-button:hover::before, .btn:hover::after {
                    top: 0;
                }
            
        .footer-bottom {
            border-top: 1px solid rgba(255, 255, 255, 0.51);
            padding-top: 15px;
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 16px;
            color: #fff;
        }
        .footer-reserved {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 50px;
        }

        @media (max-width: 1200px) {
            .footer {
                padding: 80px 100px;
            }
            .footer-heading {
                font-size: 60px;
            }
            .footer-address {
                font-size: 36px;
            }
        }

        @media (max-width: 992px) {
            .footer {
                padding: 60px 50px;
            }
            .footer-top {
                flex-direction: column;
                gap: 40px;
            }
            .footer-heading {
                font-size: 50px;
            }
            .footer-address {
                font-size: 30px;
            }
            .footer-content {
                flex-wrap: wrap;
            }
            .footer-column {
                flex: 1 1 40%;
                margin-bottom: 30px;
            }
        }

        @media (max-width: 768px) {
            .footer {
                padding: 40px 30px;
            }
            .footer-heading {
                font-size: 40px;
            }
            .footer-address {
                font-size: 24px;
            }
            .footer-column {
                flex: 1 1 100%;
            }
            .footer-bottom {
                flex-direction: column;
                align-items: flex-start;
                gap: 20px;
            }
            .footer-reserved {
                flex-direction: column;
                gap: 10px;
            }
        }

        @media (max-width: 480px) {
            .footer {
                padding: 30px 20px;
            }
            .footer-heading {
                font-size: 32px;
            }
            .footer-address {
                font-size: 20px;
            }
            .footer-button, .social-button {
                width: 100%;
                text-align: center;
            }
        }

        
/* Responsive for smaller screens */
@media (max-width: 768px) {
    .content-section {
        flex-direction: column;
        text-align: center;
        padding: 50px 0%;
    }
    .content-section img {
        margin-right: 0;
        margin-bottom: 50px;
        width: 20%;
        max-width: 300px;
    }
    .container {
        flex-direction: column;
    }
    .image-container, .content {
        width: 100%;
    }
}
/*///////////////////////////////// Page 2///////////////////*/
/* Team Section Styles */
.team-section {
    height: auto;
    text-align: center;
    padding: 150px 10% 0px;
    background-color: #f9f9f9;
}

.team-section h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #333;
}

.team-section p {
    font-size: 18px;
    margin-bottom: 50px;
    color: #666;
}

/* Team Card Container */
.team-container {
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
}

/* Team Member Card */
.team-card {
    cursor: pointer;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-bottom:4px solid #1abc9c;
}

.team-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.team-info {
    padding: 20px;
    text-align: center;
}

.team-info h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.team-info p {
    font-size: 16px;
    color: #777;
}

.team-info .bio {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}


/* Responsive Design */
@media (max-width: 768px) {
    .team-container {
        flex-direction: column;
        align-items: center;
    }

    .team-card {
        width: 90%;
    }
}

.social-icons {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 15px; /* Space between icons */
}

/* Individual Icon Style */
.icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 100%; /* Circular icons */
    transition: all 0.3s ease;
    font-size: 20px;
}

.icon i {
    pointer-events: none; /* Prevent click event on the icon itself */
}

/* Hover Effect */
.icon:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    transform: translateY(-3px); /* Slight elevation effect */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .social-icons {
        justify-content: space-evenly;
    }
}

/*///////////////////////////// Services Page ///////////////*/
.services-hero {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 150px 0;
}

.services-hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.services-hero-content p {
    font-size: 18px;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 50px 10%;
    background-color: #f3f3f3;
}

.service-card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.service-card i {
    font-size: 48px;
    color: #000000;
    margin-bottom: 20px;
}

.service-card h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.service-card p {
    font-size: 16px;
    color: #666666;
}

.featured-service {
    display: flex;
    align-items: center;
    padding: 80px 10%;
    background-color: #ffffff;
}

.featured-service-content {
    flex: 1;
    padding-right: 50px;
}

.featured-service-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.featured-service-content p {
    font-size: 18px;
    margin-bottom: 20px;
}

.featured-service-content ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 30px;
}

.featured-service-content ul li {
    font-size: 16px;
    margin-bottom: 10px;
    padding-left: 30px;
    position: relative;
}

.featured-service-content ul li::before {
    content: '✓';
    position: absolute;
    left: 0;
    color: #000000;
}

.featured-service-image {
    flex: 1;
}

.featured-service-image img {
    max-width: 100%;
    border-radius: 10px;
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .featured-service {
        flex-direction: column;
    }

    .featured-service-content {
        padding-right: 0;
        margin-bottom: 30px;
    }
}


/*//////////////// about us page /////////////////*/

.content-wrapper {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    padding: 3rem 0;
}
.text-para{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
}

    .stats {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 2rem;
    }
        .stat-item {
            flex-basis: 100%;
            background-color: #f5f4f4;
            padding: 1rem;
            margin-bottom: 1rem;
            border-radius: 5px;
        }

.content-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
}
.content-text {
    flex-basis: 100%;
}

.content-images img{
    border-radius: 10px;
    border: 1px solid black;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.btn-about{
    margin-top: 20px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 220px;
    min-height: 56px;
    font-size: 1.2em;
    border-radius: 29px;
    cursor: pointer;
    font-weight: 400;
    position: relative;
    border: 2px solid #000000;
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1; /* Ensures button text is on top */
}
.btn-about::before, .btn-about::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background-color: rgb(0, 0, 0);
    transition: all 400ms ease-in;
    z-index: -1; /* Ensures the pseudo-elements are behind the text */
}
.btn-about:hover {
    color: #ffffff;
    transition: 0.5s ease color;
}
.btn-about::before {
    opacity: 0.3;
}
.btn-about::after {
    transition-delay: 0.3s;
    color: rgb(0, 0, 0);
}
.btn-about:hover::before, .btn-about:hover::after {
    top: 0;
}

/* Responsive */
@media (min-width: 768px) {
    h1 {
        font-size: 3.5rem;
    }
    .stat-item {
        flex-basis: calc(50% - 1rem);
    }
    .content-text {
        flex-basis: calc(50% - 1rem);
    }
    .content-images {
        flex-basis: calc(50% - 1rem);
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .stat-item {
        flex-basis: calc(25% - 1rem);
    }
    .content-text {
        flex-basis: calc(33.333% - 1rem);
    }
    .content-images {
        flex-basis: calc(66.666% - 1rem);
        grid-template-columns: repeat(3, 1fr);
    }
}


/*////////////////////// Contact us page ////////////*/
.contact-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #111;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
    padding: 10rem 20%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.contact-form, .contact-details {
    flex: 1 1 300px;
}

.page-title {
    text-align: center;
    color: #fff;
    margin-bottom: 1.5rem;
    width: 100%;
}

.section-title {
    color: #fff;
    margin-bottom: 1rem;
}

.contact-form__form {
    display: flex;
    flex-direction: column;
}

.contact-form__label {
    margin-bottom: 0.5rem;
    color: #fff;
}

.contact-form__input, .contact-form__textarea {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #333;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #222;
    color: #fff;
}

.contact-form__submit {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form__submit:hover {
    background-color: #ddd;
}

.contact-form__error {
    color: #ff6b6b;
    font-size: 0.875rem;
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
}

.contact-info {
    color: white;
    margin-bottom: 1rem;
}

.contact-info__text {
    margin: 0.5rem 0;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
    .contact-page {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .contact-form__input, .contact-form__textarea, .contact-form__submit {
        font-size: 0.875rem;
        padding: 0.5rem 15vw;
        margin-left: -20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
