:root{
    --foreground: 222.2 84% 4.9%;
    --tw-backdrop-blur: blue(4px);
}
::selection{
    color: white;
    background-color: rgb(0, 70, 131);
}
body {
    margin: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    height: auto;
}
html {
    scroll-behavior: smooth;
}
main {
    scroll-behavior: smooth;
    overflow-y: scroll; /* Ensure scrolling works smoothly within the main div */
}
  

/* Loading Screen */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.loading-screen {
    width: 100%;
    height: 100vh;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
    text-align: center;
    transition: transform 1s ease-in-out;
    z-index: 1000;
}
.fade-out {
    transform: translateY(-100%);
}
.gradient-text {
    background: linear-gradient(to right, rgb(0, 90, 207), red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Cabin", sans-serif;
    opacity: 1;
    transition: opacity 0.5s ease-out;
    position: relative;
    -webkit-box-reflect: below -35px linear-gradient(transparent, rgba(0, 0, 0, 0.3));
}
.progress-text {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 7rem;
    font-family: "Londrina Solid", sans-serif;
    color: rgb(51, 51, 51);
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: rgba(219, 219, 219, 0.24); */
    padding: 10px 0 200px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}
.header-logo {
    display: flex;
    align-items: center;
    z-index: inherit;
    padding-left: 100px;
    filter: drop-shadow(0 0 0.75rem rgb(20, 100, 220));
}
.header .logo {
    height: 50px;
}
.header .logo-text {
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding-left: 10px;
    font-weight: 530;
}
/* Hamburger Menu */
.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 101;
    padding-right: 60px;
}
.hamburger .bar {
    width: 34px;
    height: 2.4px;
    margin: 3.4px 0;
    background-color: rgb(0, 0, 0);
    transition: all 0.4s ease-in-out;
    border-radius: 20px;
}
/* Navigation Menu */
.nav-menu {
    position: fixed;
    top: -118vh; /* Start off-screen */
    left: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    text-align: end;
    padding-top: 150px;
    transition: top 0.5s ease-in-out;
    height: 100vh;
}
.nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1;
}
.nav-menu li {
    /* padding: 10px; */
    padding-top: 5px;
    padding-right: 65px;
}
.nav-menu a {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 120px;    
    font-weight: 1000;
    display: inline-block;
    background-color: #fff;
    /* border-radius: 60px; */
    padding: 0 40px;
    transition: background-color 0.3s ease-in-out;
    overflow: hidden;
}
.nav-menu a::before {
    content: "→"; /* Arrow Symbol */
    position: absolute;
    left: -100px; /* Start off-screen */
    top: 40%;
    transform: translateY(-50%);
    font-size: 100px;
    color: black;
    opacity: 0;
    transition: left 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
.nav-menu a:hover::before {
    left: -60px; /* Moves slightly left */
    opacity: 1;
}
.nav-menu.active {
    top: 0; /* Slides down from top */
}
.hamburger.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
}
.hamburger.active .bar:nth-child(2) {
    transform: translateY(-10px) rotate(45deg);
}

/* Landing Page */
.landing{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    color: rgb(0, 0, 0);
    overflow: hidden;
}
.landing video{
    z-index: -1;
    width: 100%;
    position: absolute;
    top: 0;
    object-fit: cover;
    /* filter: brightness(107%); */
}
.landing .landing-cont{
    text-align: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.landing .landing-cont h1{
    margin: -1px 0px;
    font-size: clamp(57px, 5vw, 90px);
    line-height: 1;
}
.main-headings-bg{
    display: inline-block;
    padding: 2px 13px;
    margin: 0 auto;
    text-align: center;
    color: rgb(0 113 212);
    --tw-backdrop-blur: blur(4px);
    background-color: rgba(71, 136, 240, 0.089);
    border-radius: 20px;
    font-weight: 450;
}

.landing .landing-cont .gradient-text-landing{
    background: linear-gradient(to right, #186ca9, #158a73);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.landing .landing-cont .landing-para{
    margin-bottom: 4px;
    font-size: 25px;
    font-weight: 400;
}
.landing .landing-cont i{
    color: rgb(95, 95, 95);
    padding-bottom: 20px;
    font-size: 14px;
}
.landing .landing-btn{
    display: flex;
    gap: 16px;
    z-index: 1;
}
.landing .landing-btn .button{
    font-weight: 600;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 15px;
    padding: 0.85rem 3.34rem;
    border-radius: 8px;
}
.landing .landing-btn .button:nth-child(1){
    box-shadow: rgba(46, 211, 240, 0.4) -5px 5px,
                rgba(41, 205, 247, 0.3) -10px 10px,
                rgba(46, 217, 240, 0.2) -15px 15px,
                rgba(46, 162, 240, 0.1) -20px 20px,
                rgba(46, 217, 240, 0.05) -25px 25px;
    border: none;
    color: white;
    background-color: #186ca9;
    transition: 0.3s ease-in-out;
}
.landing .landing-btn .button:nth-child(1):hover{
    box-shadow: rgba(46, 211, 240, 0.6) 0px 8px 16px,
                rgba(41, 205, 247, 0.4) 0px 4px 8px;
    transform: scale(1.05);
    cursor: pointer;
}
.landing .landing-btn .button:nth-child(2){
    border: 1px solid rgb(190, 190, 190);
    box-shadow: rgba(35, 35, 80, 0.1) 0px 4px 16px,
                rgba(49, 49, 233, 0.05) 0px 8px 32px;
    background-color: white;
    transition: 0.3s ease-in-out;
}
.landing .landing-btn .button:nth-child(2):hover{
    color: white;
    background-color: black;
    cursor: pointer;
    transform: scale(1.05);
}

.hollow{
    /* font-size: 80px; */
    font-weight: bold;
    color: white;
    text-shadow: 
        -2px -2px 0 black,  
         2px -2px 0 black,  
        -2px  2px 0 black,  
         2px  2px 0 black;
}

/* Works With Section */
.moving-div{
    /* background-color: red; */
    margin-top: 100vh;
    position: absolute;
    bottom: 2%;
    width: 50%;
    white-space: nowrap;
    padding: 1.2vw;
    overflow: hidden;
}
.moving-div .move{
    display: inline-block;
    animation: mobe;
    animation-duration: 12.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.moving-div .move img{
    height: 2vw;
    margin: 0 1vw;
    filter: grayscale(100%);
}
@keyframes mobe {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translate(-100%);
    }
}
.blur-left{
    height: 100%;
    width: 20%;
    background: linear-gradient(to left, transparent, white);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.blur-right{
    height: 100%;
    width: 20%;
    background: linear-gradient(to right, transparent, white);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

/* Page 2 Styles */
.page-2{
    height: 25vh;
    margin-top: 260px;
    margin-bottom: 200px;

}
.page-2 .animated-para {
    padding-left: clamp(17vw, 3vw, 19vw);
    padding-right: clamp(20vw, 3vw, 19vw);
    font-size: clamp(17px, 3vw, 32px);
    font-weight: 500;
    text-transform: capitalize;
}
.seperator{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}
/* Page-2 End */


/* Page-3 */
.page-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.page-3 .core-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page-3 .core-cont h1{
    margin: 8px 0px;
    font-size: clamp(50px, 5vw, 80px);
    line-height: 1;
    text-align: center;
}
.page-3 .core-cont p{
    text-align: center;
    margin-top: 22px;
    margin-bottom: 50px;
    padding: 0px 20vw;
    font-size: 22px;
    font-weight: 400;
}
.gradient-text-all{
    background: linear-gradient(to right, #186ca9, #158a73);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.core-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  padding: 10px 200px;
}
.core-single {
  text-align: center;
  padding: 0px 10px;
  background-color: transparent;
  margin-bottom: 40px;
}
.core-single svg {
  background-color: rgb(224 239 254); 
  padding: 12px; 
  border-radius: 20px;
  width: 30px;
  height: 30px;
  color: rgb(0 113 212);
  transition: all 0.3s ease;
}
.core-single h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: 600;
}
.core-single p {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
  color: #555;
}

/* Section-Stats */
.core-stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: linear-gradient(to top, #0a4174, #0059aa);
  padding: 96px;
  margin: 50px 0 100px;
  gap: 1rem;
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.stats-items{
  flex: 1 1 200px;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 255);
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  padding-top: 22px;
}
.stats-items svg {
  height: 35px;
  width: 35px;
  background-color: rgba(185, 223, 253, 0.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.021);
  padding: 16px;
  border-radius: 50%;
  margin-bottom: 17px;
  transition: all 0.3s ease-out;
}
.stats-items:hover svg{
    box-shadow: 0 0 3cap rgba(185, 223, 253, 0.445);
    background-color: rgba(185, 223, 253, 0.2);
    backdrop-filter: blur(9px);
}
.stats-items:nth-child(1) svg {
  color: rgb(124, 196, 251);
}
.stats-items:nth-child(2) svg {
  color: rgb(100, 239, 184);
}
.stats-items:nth-child(3) svg {
  color: rgb(160, 248, 211);
}
.stats-items:nth-child(4) svg {
  color: rgb(185, 223, 253);
}
.stats-heading {
  font-size: 2.5rem;
  font-weight: 1000;
  color: white;
  margin: 0;
}
.stats-heading-small {
  font-size: 1.2rem;
  color: rgb(238, 238, 238);
  font-weight: 750;
}
.stats-items p{
  font-size: 1rem;
  font-weight: 300;
  color: #dfefff;
  position: relative;
  transition: transform 0.3s ease;
}
.stats-items:hover p{
    transform: translateY(-5px);
}
.stats-items p::after{
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: #dfefff;
    margin: 8px auto 0;
    transition: width 0.3s ease, background-color 0.3s ease;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
}
.stats-items:hover p::after {
  width: 50%;
}
.stats-items:nth-child(1):hover p::after {
  background-color: rgb(124, 196, 251);
}
.stats-items:nth-child(2):hover p::after {
  background-color: rgb(100, 239, 184);
}
.stats-items:nth-child(3):hover p::after {
  background-color: rgb(160, 248, 211);
}
.stats-items:nth-child(4):hover p::after {
  background-color: rgb(185, 223, 253);
}
/* Section Stats End */
/* Page 3 End */


/* Page 4 */


/* Page 4 End */

/* SCreen Handler */

@media (max-width: 768px) {
    .core-items {
      grid-template-columns: 1fr;
    }
    .core-stats {
    padding: 60px 30px;
    justify-content: center;
    }
}

@media (max-width: 1024px){
    .header .logo {
        height: 50px;
    }
    .nav-menu {
        top: -135vh;
        padding-top: 100px;
    }
    .nav-menu a {
        font-size: clamp(30px, 6vw, 80px);
    }
    .landing .landing-cont h1{
        margin: -1px 0px;
        font-size: 55px;
    }
    .landing .landing-cont .main-headings-bg{
        padding: 2px 10px;
    }
    .landing .landing-cont .landing-para{
        margin-bottom: 4px;
        font-size: 17px;
        font-weight: 400;
    }
    .landing .landing-cont i{
        font-size: 12px;
    }
    .landing .landing-btn .button{
        font-weight: 600;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: 15px;
        padding: 2.7% 2.34rem;
        border-radius: 8px;
    }
    .moving-div .move img{
        height: 2.45vw;
        margin: 0 1vw;
        filter: grayscale(100%);
    }
    .core-items {
        grid-template-columns: repeat(2, 1fr); /* 2 items per row on medium screens */
    }
}